.top-form {
    height: 35px;
    width: 800px;
}

.btn {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 10px;
    width: 110px;
    height: 24px;
    border-color: red;
    background-color: white;
}

.inp {
    width: 670px;
    border-color: red;
    height: 20px;
    font-size: 15px;
}

.font {
    font: 15;
}
